I. Append:
The function append adds another variable at the end of your list. 
Example:

In [1]:
numbers=[1,2,3,4]
numbers

[1, 2, 3, 4]

In [3]:
numbers.append(5)
numbers

[1, 2, 3, 4, 5]

II. Extend:
The fuction extend works by adding another list to the end of your current list.
Example:

In [4]:
Cars=['Toyota', 'Subaru', 'Lexus']
strCars=['Bugatti', 'Nissan']
Cars.extend(strCars)
print("This is the extended list:", Cars)

This is the extended list: ['Toyota', 'Subaru', 'Lexus', 'Bugatti', 'Nissan']

III. Insert
The insert function works by placing a varible in your list where you tell it to. 
Example:

In [5]:
Cars

['Toyota', 'Subaru', 'Lexus', 'Bugatti', 'Nissan']

In [6]:
Cars.insert(0, 'Tesla')
Cars

['Tesla', 'Toyota', 'Subaru', 'Lexus', 'Bugatti', 'Nissan']

IV. Remove
The function remove works by removing the variable you choose
Example:

In [7]:
Cars

['Tesla', 'Toyota', 'Subaru', 'Lexus', 'Bugatti', 'Nissan']

In [8]:
Cars.remove('Tesla')
Cars

['Toyota', 'Subaru', 'Lexus', 'Bugatti', 'Nissan']

V. Count
The count function simply works by counting how many variables are in your list.
Example

In [12]:
Cars.count('Lexus')

1

VI. Index
Index is the place of your variable in your list
Example:

In [13]:
Cars

['Toyota', 'Subaru', 'Lexus', 'Bugatti', 'Nissan']

In [ ]:
#Lexus is the second index

VII. Pop
The pop function works by removing the last or stated variable from your list 
Example:

In [14]:
Cars.pop()
Cars

['Toyota', 'Subaru', 'Lexus', 'Bugatti']

VIII. Sorted 
Sorted works by sorting your list in alphabetical or numerical order

In [17]:
Cars.sort()
Cars

['Bugatti', 'Lexus', 'Subaru', 'Toyota']

IX. Copy 
Copy works by copying your function
Example:

In [18]:
food_list=['pizza', 'steak', 'Mac and Cheese', 'Chips', 'French Fries']
my_friends_food_list=food_list[:]
print(my_friends_food_list)

['pizza', 'steak', 'Mac and Cheese', 'Chips', 'French Fries']

X. Clear works by removing all variables from list

In [20]:
Cars.clear()
Cars

[]

XI. List works by creating a list of variables

In [21]:
Cars_list=('Toyota', 'Lexus', 'Chevy')

len works by measuring the length of your tuple

In [22]:
len(Cars_list)

3

The max function provides the highest value

In [23]:
max(Cars_list)

'Toyota'

Minimum provides you with the lowest value in your list

In [24]:
min(Cars_list)

'Chevy'